.cardField{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  .card{
    width: 30% !important;
    margin: 1rem;

    & >
    {
      margin: 0.5rem;
    }

    .areas{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & > *{
        display: flex;
        align-items: center;
      }

      &>:nth-child(2){
        margin-left: 2rem;
        position: relative;
        span{
          font-size: 0.55rem;
          position: absolute;
          top: 0;
          right: 0;
          margin-right: -5px;
        }
      }
    }
  }
}
