.cardField{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  .card{
    width: calc(33.33% - 2px) !important;
    border-top: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    & >
    {
      margin: 0.5rem;
    }

    &:nth-child(3n+3){
      border-right: none;
    }&:nth-child(8n+8){
      border-right: none;
    }

    &.MuiPaper-elevation1{
      box-shadow: none !important;
      border-radius: 0;
    }

    .areas{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & > *{
        display: flex;
        align-items: center;
      }

      &>:nth-child(2){
        margin-left: 2rem;
        position: relative;
        span{
          font-size: 0.55rem;
          position: absolute;
          top: 0;
          right: 0;
          margin-right: -5px;
        }
      }
    }
  }
}
