div[role="presentation"]{

  display: flex;
  justify-content: center;
  align-items: center;

  .modal{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 40vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

