.nav-bar{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;

  & *{
    margin: 0 1rem;
  }

  a{
    color: black;
    text-decoration: none;

    &:hover, &.active:hover{
      
    }

    &.active{
      color: #d93b3b;
    }
  }
}